SELECT business_partner_code as businessPartnerCode,
       business_partner_name as businessPartnerName,
       merchant_type as merchantType,
       activation_date as activationDate,
       merchant_status as merchantStatus,
       company_officer_name as companyOfficerName,
       is_anchor as isAnchor,
       is_activated as isActivated,
       is_viewable as isViewable,
       is_international_merchant as isInternationalMerchant,
       is_offline_to_online as isOfflineToOnline,
       is_quick_signup as isQuickSignup,
       is_supplier as isSupplier,
       badge_name as sellerBadge,
       badge_date as sellerBadgeDate,
       cnc_activated as cncActivated,
       umkm_flag as umkmFlag,
       seller_activation_age_days as sellerActivationAgeDays,
       is_official_store as isOfficialStore,
       is_whitelist_seller as isWhitelistSeller,
       is_whitelisted_company_officer as isWhitelistCompanyOfficer,
       seller_first_product_created_on as sellerFirstProductCreatedOn,
       seller_recent_product_create_on as sellerRecentProductCreatedOn,
       seller_created_product_count as sellerCreatedProductCount,
       seller_review_approved_count as sellerReviewApprovedCount,
       seller_review_rejected_count as sellerReviewRejectedCount,
       seller_review_wip_count as sellerReviewWipCount,
       seller_created_product_count_180 as sellerCreatedProductCount180,
       seller_review_approved_count_180 as sellerReviewApprovedCount180,
       seller_review_rejected_count_180 as sellerReviewRejectedCount180,
       seller_review_wip_count_180 as sellerReviewWipCount180,
       seller_created_product_count_365 as sellerCreatedProductCount365,
       seller_review_approved_count_365 as sellerReviewApprovedCount365,
       seller_review_rejected_count_365 as sellerReviewRejectedCount365,
       seller_review_wip_count_365 as sellerReviewWipCount365,
       seller_catalog_age_days as sellerCatalogAgeDays,
       seller_wip_percent as sellerWipPercent,
       seller_rejection_percent as sellerRejectionPercent,
       seller_rejection_percent_180 as sellerRejectionPercent180,
       seller_rejection_percent_365 as sellerRejectionPercent365,
       c1_name as c1Name,
       c1_code as c1Code,
       c1_first_product_created_on as c1FirstProductCreatedOn,
       c1_recent_product_create_on as c1RecentProductCreatedOn,
       c1_created_product_count as c1CreatedProductCount,
       c1_review_approved_count as c1ReviewApprovedCount,
       c1_review_rejected_count as c1ReviewRejectedCount,
       c1_review_wip_count as c1ReviewWipCount,
       c1_created_product_count_180 as c1CreatedProductCount180,
       c1_review_approved_count_180 as c1ReviewApprovedCount180,
       c1_review_rejected_count_180 as c1ReviewRejectedCount180,
       c1_review_wip_count_180 as c1ReviewWipCount180,
       c1_created_product_count_365 as c1CreatedProductCount365,
       c1_review_approved_count_365 as c1ReviewApprovedCount365,
       c1_review_rejected_count_365 as c1ReviewRejectedCount365,
       c1_review_wipcount_365 as c1ReviewWipCount365,
       c1_catalog_age_days as c1CatalogAgeDays,
       c1_wip_percent as c1WipPercent,
       c1_rejection_percent as c1RejectionPercent,
       c1_rejection_percent_180 as c1RejectionPercent180,
       c1_rejection_percent_365 as c1RejectionPercent365
   FROM `${projectId}.datamart.datamart_pcu_qc_seller_info` ORDER BY business_partner_code, c1_name