target
.settings
.classpath
.project
Server
.metadata/
Servers/
*.iml
rest-web/overlays/
.idea/**
.DS_Store
*.versionsBackup
*.orig
.factorypath
product-parent.ipr
product-parent.iws
cleanup-analysis-tools
.vscode