*                   @gdncomm-pradeep-reddy @gdncomm-shivam-thakur @gdncomm-karan-khanna @gdncomm-saloni-farkya @gdncomm-adarsh-sn
/.github/CODEOWNERS @gdncomm-pradeep-reddy @gdncomm-shivam-thakur @gdncomm-karan-khanna @gdncomm-saloni-farkya @gdncomm-adarsh-sn