target
.settings
.classpath
.project
Server
bin
logs
*.iml
product-category-base-rest-web/overlays/
.idea/
dependency-reduced-pom.xml
.DS_Store
*.ipr
*.iws
*.versionsBackup
results/
cleanup-analysis-tools/
.vscode
